<!-- FILE: views/aset_tetap_list.html -->
<header class="flex flex-col sm:flex-row justify-between sm:items-center mb-10">
    <div>
        <h2 class="text-3xl md:text-4xl font-semibold text-brand-black">Daftar Aset Tetap</h2>
        <p class="text-blue-dark opacity-80 font-pontano mt-1 text-sm md:text-base">Kelola semua aset tetap perusahaan.</p>
    </div>
    <button onclick="showView('aset_tetap_form', this)" class="mt-4 sm:mt-0 bg-blue-medium hover:bg-blue-medium-darker text-white font-semibold py-2.5 px-5 rounded-button shadow-md">Tambah Aset Baru</button>
</header>
<div class="bg-white p-6 md:p-8 rounded-card shadow-xl">
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="table-header-custom bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Kode</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Nama Aset</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Tgl Perolehan</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider text-right">Harga Perolehan</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Status</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Aksi</th>
                </tr>
            </thead>
            <tbody id="tabelAsetTetapBody"></tbody>
        </table>
    </div>
</div>
